spring.application.name=gestion-academica

#URL de conexión (le agregué "jdbc:" al principio)
spring.datasource.url=jdbc:postgresql://aws-1-sa-east-1.pooler.supabase.com:6543/postgres?prepareThreshold=0
#El usuario siempre es postgres
spring.datasource.username=postgres.rcpvbouoyizmszibmoka

#AQUÍ va la contraseña del supabase
spring.datasource.password=thisisaburnerpass01.

#Configuraciones para que Spring hable bien con PostgreSQL y Supabase
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.datasource.driver-class-name=org.postgresql.Driver